---
layout: default
---

<div class="home">


  <ul class='posts'>
    {% for post in site.posts limit:5 %}
      <li>
        <div class="post">
          <header class="post-header">
            <h1>
              <a class="index-header" href="{{ post.url }}" >{{ post.title }}</a>
            </h1>
            {{ post.date | date: "%b %-d, %Y" }}
          </header>
          <article class="post-content">
            {{ post.excerpt }}
            <p><a href="{{ post.url }}">continue reading...</a></p>
          </article>
        </div>
        <hr color="#ddd">
        <br>
      </li>
    {% endfor %}
  </ul>

  <h2>Previously...</h2>

  <ul class='posts'>
    {% for post in site.posts offset:5 %}
      <li>
        {{ post.date | date: "%b %-d, %Y" }}: <a href="{{ post.url }}" >{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
